.footer{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    width: 100%;
    padding:10rem ;
    border-top: 10px #FBD87F solid;
    
}