@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Nunito+Sans:ital,opsz@1,6..12&family=Vina+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Italianno&family=Nunito+Sans:ital,opsz@1,6..12&family=Vina+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Azeret+Mono:wght@500&family=Italianno&family=Nunito+Sans:ital,opsz@1,6..12&family=Sora:wght@600&family=Vina+Sans&display=swap');

html{
    height: 100%;
}

body {
    position: relative;
    background-color: #EEE5E9!important;
    min-height: 100vh;
    padding-bottom: 25rem;
}

.body-menu{
    padding-bottom: 0rem;
}

