
.lista-servicios{
    
    color: black !important;
    margin: 5rem;
    background-color: #FBD87F;
    border: black 2px solid;
    border-radius: 30px;
}

.seccion {
    display: flex;
    flex-direction: column;
    background-color: #FBD87F;
    margin: 50px 100px 50px 100px;
    padding: 30px;
    border: black 2px solid;
    border-radius: 30px;

    p {
        margin: 20px;
    }

    h2 {
        text-align: center;
        margin: 10px;
        font-family: Arial,sans-serif;
    }
    .imagenes-serv{
        margin: 0 auto;
        max-width: 400px;
        border: black 2px solid;
        z-index: 0;
    }
}



