
.sobremi {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "foto1  texto1"
        "foto1  texto2"
        "texto3 foto2"
        "texto4 foto2";
    justify-content: center;
    align-items: center;

    background-color: #FBD87F;
    border-radius: 30px;
    margin: 5rem ;
    border: black 1px solid;


    .foto{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        img{
            max-width: 800px;
            border-radius: 20px;
            @media (max-width: 830px) {
            max-width: 400px;
            }
            @media (max-width: 600px) {
                max-width: 250px;
            }
            @media (max-width: 450px) {
                max-width: 150px;
            }

        }
    }
 
    .texto{
        font-size: 1.2rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 2rem;
        margin: 1rem;
        @media (max-width: 830px) {
            font-size: 1rem;
            padding: 1.5rem;
            margin: 0.7rem;
        }
        @media (max-width: 600px) {
            font-size: 0.8rem;
            padding: 1rem;
            margin: 0.5rem;
        }
        @media (max-width: 450px) {
            font-size: 0.6rem;
        }
    }


    .foto1{
        grid-area: foto1;
        
    }

    .texto1{
        grid-area: texto1;
    }

    .foto2{
        grid-area: foto2;
    }

    .texto2{
        grid-area: texto2;
    }

    @media (max-width: 1350px) {
        display: flex;
        flex-direction: column;
    }

    @media (max-width: 600px) {
        margin: 3rem;
    }
}


