
.sobremi {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    background-color: #FBD87F;

    border-radius: 30px;
    margin: 200px;
    border: black 1px solid;

    .foto1 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        background-size: cover;
        flex: 1;

        img {
            display: flex;
            width: 300px;
            padding: 1rem;
            border-radius: 50px;
        
        }
    }

    p {
        display: flex;
        padding: 3rem 3rem 3rem 1rem;
        text-align: left;
        font-size: 1rem;
        flex: 1;
    }

}


